.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 50px; */
  font-weight: 500;
  color: darkseagreen;
  font-style: italic;
  text-align: start;
  text-transform: capitalize;
  text-decoration: line-through;
}

.para {
  line-height: 30px;
  /* letter-spacing: 10px; */
  word-spacing: 30px;
  text-indent: 200px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}